<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= link_to new_diary_path, class: "btn btn-primary" do %>
        Create a diary
      <% end %>
    </div>
    <% if @diaries.present? %>
      <nav class="nav flex-column">
        <% @diaries.each do |diary| %>
          <%= link_to diary.name, diary_path(diary), class: "nav-link room-nav-link" %>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
      The are no diaries
      </div>
    <% end %>
  </div>
</div>